name: Publish package

on:
    push:
        tags:
            - 'v*.*.*'

jobs:
    publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            -   name: Checkout
                uses: actions/checkout@v5

            -   name: Setup node
                uses: actions/setup-node@v4
                with:
                    node-version: '20.x'

            -   name: Install vendors
                run: npm ci

            -   name: Build
                run: npm run build

            -   name: Set version from tag
                run: |
                    VERSION=${GITHUB_REF_NAME#v}
                    npm version "$VERSION" --no-git-tag-version

            -   name: Publish to npm
                run: npm publish
